<div class="container pt-4"></div>
    <h1>Packaging</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Create Web Package</h5>
                    <p class="card-text">Create a Web package for your application.</p>

                    <button class="btn btn-primary" z-on-click="view.createWebPackage()">Create package</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Create Cordova Package</h5>
                    <p class="card-text">Create a Cordova package for your application.</p>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="transformCdnCheckbox" z-bind="transformCdn">
                        <label class="form-check-label" for="transformCdnCheckbox">Transform CDN</label>
                    </div>

                    <button class="btn btn-primary" z-on-click="view.createCordovaPackage()">Create package</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            The packaging plugin will export the source of the application to be packaged. Currently the plugin supports Cordova packaging. In the future it may supports other types of packaging such as Electron or full standalone web application.

            The plugin take the sources file and download them input a zip file

            <h3>Plugins</h3>

            <p>For the plugins, the plugin will download the source of the plugin and add it to the zip file. The needed sources are automatically fetch from import chain from the main front end lib of the plugin</p>

            <h3>CDN imports</h3>
            
            <p>When some CDN import are done in the source (either application source or in plugin), if the option "transform CDN" is checked, the file are automatically downloaded and added to the zip file</p>
            
            <h3>Custom downlaod in plugins</h3>

            <p>A part from the front lib file, the plugin can define some other files that are needed to be downloaded</p>

            <p>In the plugin code give them in the <code>urlsToDownload</code> slot : </p>
            <code>
                loadPluginData(async ({pluginsData, appName})=>{
                    if(pluginsData?.["open-bamz-packaging"]?.pluginSlots?.urlsToDownload){
                        //always store dev that is the default lang
                        pluginsData?.["open-bamz-packaging"]?.pluginSlots?.urlsToDownload.push({
                            url: `/open-bamz-i18n/locales/dev.json`,
                            dest: `open-bamz-i18n/locales/dev.json`
                        });
                    }
                }};
            </code>

            <p>You can also give some custom URL replacement in the case that the automatic import resolver cannot find it automatically, for example : </p>
            <code>
                pluginsData?.["open-bamz-packaging"]?.pluginSlots?.urlToReplace.push({
                    file: {filePath: "open-bamz-i18n/lib/i18n.mjs", baseUrl: "/plugin/open-bamz-i18n/lib/i18n.mjs" },
                    urls: [{
                        url: "/open-bamz-i18n/locales/{{lng}}.json",
                        dest: `/static/open-bamz-i18n/locales/{{lng}}.json`,
                    }]
                });
            </code>
        </div>
    </div>
</div>